@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Piricske.Models.Reservation>

<h2>Időpontok</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Új foglalás</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Ügyfél neve
            </th>
            <th>
                Érkezés időpontja
            </th>
            <th>
                Távozás időpontja
            </th>
            <th>
                Éjszakák száma
            </th>
            <th>
                Sikeres foglalás 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReserved)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Módosítás</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>
